body {
    background-color: #e832c7;
    color:rgb(239, 219, 255) 
    
}

#container {
    display: flex;
}

.cartão{
    margin: 1rem 1rem;
    background-color: #b8007b;
    height: 20rem;
    flex-grow: ;
    flex-basis: calc(33% - 6rem);
}

.cartão__conteúdo {
    height: 100%;
    /*background-color: #8f0260; */
    text-align:center
}

.cartão__conteúdo h3 {
    background-color: #00b2b8;
    text-align: left;
    padding: 0.6rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}

footer {
        background-color: rgb(130, 1, 61);
        color: rgba(239, 219, 255);
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 3rem;
    }
footer p {
    text-align:center;
    font: size 0.68rem;
    margin-top: 0.85rem
}
